/* Core Styles */

@font-face {
    font-family: 'arkham';
    src: url('img/JMH\ Arkham.ttf');
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    margin:0;
    font-family: Arial, sans-serif;
    background: #333;
    color: #fff;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}

body a {
    color: #007353;
}
img {
    display: inline-block;
    width: 100%;
}

form {
    width: 100%;
    height: 450px;
    margin: auto;
    position: relative;
}

input {
    width: 50%;
    height: 20px;
}

textarea {
    width: 50%;
    height: 100px;
    margin: auto;
    justify-content: inherit;
}

h1, h2, h3 {
    margin: 0;
    padding: 1em 0;
    font-family: arkham;
}

p {
    margin: 0;
    padding: 1em 0;
    font-family: 'Montserrat', sans-serif;
}



/* Header Showcase */

#showcase {
    min-height: 450px;
    color: #fff;
    text-align: center;
}

#showcase .bg-image {
    position: absolute;
    background: #333 url('img/Eldritch\ Logo.png');
    background-position: center;
    background-size: cover;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
}

#showcase h1 {
    padding: 100px;
    padding-bottom: 0;
}

#showcase .content-wrap,
#section-a .content-wrap {
    padding: 0 1.5em;

}

/* Section-A*/

#section-a {
    background: #eaeaea;
    color: #333;
    padding-bottom: 2em;
}

/* Section-B */

#section-b {
    padding: 2em 1em 1em;
}

#section-b img {
    max-height: 150px;
}

#section-b h2, h3 {
    justify-content: center;
    
}

#section-b h3, #section-c h3 {
    color: red;
}

#section-b ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#section-b li {
    margin-bottom: 1em;
    background: #fff;
    color: #333;
}

.card-content {
    padding: 1.5em;
}

/* Section-C */

#section-c {
    padding: 2em 1em 1em;
}

#section-c h2 {
    justify-content: center;
}

#section-c ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#section-c li {
    margin-bottom: 1em;
    background: #fff;
    color: #333;
}

.card-content {
    padding: 1.5em;
}

/* Section D / Boxes */

#section-d .box {
    padding: 2em;
    color: #fff;
}

#section-d .box:nth-child(1) {
    background: #007353;
}

/* Main Footer */

#main-footer {
    padding: 2em;
    background: #333;
    color: #fff;
    text-align: center;
}

#main-footer a {
    color: #007353;
}


/* NAV BAR */

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    z-index: 1;
}

.navbar a {
    color: #007353;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #7d0018;

}

/* Media Query */

@media(min-width: 700px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }

    #section-a .content-text {
        columns: 2;
        column-gap: 2em;
    }
    
    #section-a .content-text p {
        padding-top: 0;
    }

    .content-wrap, 
    #section-b ul, #section-c ul {
        grid-column: 2/4;
    }

    .box, #main-footer div {
        grid-column: span 2;
    }
    
    #section-b ul, #section-c ul {
        display: flex;
        justify-content: space-around;
    }

    #section-b li, #section-c li {
        width: 31%;
    }

    /* Swirly */

    .swirl{
        width:300px;
        height:300px;
        position:relative;
        filter:blur(4px) hue-rotate(0deg);
        margin:40px;
        animation:swirlSpin 0.5s linear infinite;
        display:inline-block;
      }
      
      .swirl div{
        border:8px solid #fff;
        border-width:8px 0 0 0;
        border-radius:50%;
        position:absolute;
        opacity:0;
      }
      
      .swirl div:first-child{
        width:300px;
        height:300px;
        animation:swirlOpacityFirst 3s ease;
      }
      
      .swirl div:nth-child(2){
        width:225px;
        height:225px;
        top:37.5px;
        left:37.5px;
        transform:rotate(100deg);
        animation:swirlOpacitySecond 4s ease;
      }
      
      .swirl div:nth-child(3){
        width:150px;
        height:150px;
        top:75px;
        left:75px;
        transform:rotate(200deg);
        animation:swirlOpacityThird 5s ease;
      }
      
      @keyframes swirlOpacityFirst{
        8%,24%,72%,88%{opacity:1}
        32%,64%{opacity:0}
      }
      
      @keyframes swirlOpacitySecond{
        8%,40%,56%,88%{opacity:0}
        16%,32%,64%,80%{opacity:1}
      }
      
      @keyframes swirlOpacityThird{
        24%,40%,56%,72%{opacity:1}
        16%,48%,80%{opacity:0}
      }
      
      .swirl.swirlIn div:first-child{
        animation:swirlInOpacityFirst 5s ease infinite;
      }
      
      .swirl.swirlIn div:nth-child(2){
        animation:swirlInOpacitySecond 5s ease infinite;
      }
      
      .swirl.swirlIn div:nth-child(3){
        animation:swirlInOpacityThird 5s ease infinite;
      }
      
      @keyframes swirlSpin{
        to{
          transform:rotate(360deg);
          filter:blur(2px);
        }
      }
      
      @keyframes swirlInOpacityFirst{
        10%,50%{opacity:1}
        70%{opacity:0}
      }
      
      @keyframes swirlInOpacitySecond{
        10%,90%{opacity:0}
        30%,70%{opacity:1}
      }
      
      @keyframes swirlInOpacityThird{
        30%{opacity:0}
        50%,90%{opacity:1} 
      }
      
    
}